.navbar-nav {
    margin: auto;
}

.products {
    padding: 20px 0;
}

.products .card {
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.products .card:hover {
    transform: scale(1.05);
}

.carousel-inner img {
    max-height: 400px;
    object-fit: cover;
}

.card img {
    max-height: 300px;
    object-fit: contain;
}